/* App.css */
.chat-app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
  .message-list-container {
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: auto;
    padding: 20px;
    margin-bottom: 60px; /* Espaço para o formulário de entrada */
  }
  
  /* Restante do estilo permanece o mesmo */
  